.bg-low-red
{
	background: #FF5959;
}


.yellow
{
	color: #FFFF2A;
}

.orange
{
	color: #FF5500;
}

.bg-fade
{
	background: #e0e0e0;
}
.bg-orange
{
	background: #FF5500;
}

.nav-item.active
{
	color: #fff;
	/*color: #3c1000;*/
}
.border-low-red
{
	border: #FF5959;
}