.text-10px
{
	font-size: 10px;
}

.text-20px
{
	font-size: 20px;
}

.text-30px
{
	font-size: 20px;
}

.text-12px
{
	font-size: 12px;
}

.text-14px
{
	font-size: 14px;
}

.text-16px
{
	font-size: 16px;
}

.text-18px
{
	font-size: 18px;
}

.text-22px
{
	font-size: 22px;
}

.text-24px
{
	font-size: 24px;
}